<li class="post-stub">
    <a href="{{ .Permalink }}">
        <h4 class="post-stub-title">{{ .Title }}</h4>
        <time class="post-stub-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format (default "2 Jan '06" .Site.Params.dateFormat) }}</time>
        {{ if .Description }}
            <p class="post-stub-description">{{ .Description }}</p>
        {{ end }}
        {{ with .Params.featured }}
            <span class="post-stub-tag">Featured</span>
        {{ end }}
    </a>
</li>