<footer class="post-footer clearfix">
    {{- with .Params.tags }}
        <p class="post-tags">
            <span>Tagged:</span>
            {{- range $index, $tag := . -}}
                {{- if $index -}}, {{ end }}
                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
            {{- end }}
        </p>
    {{ end -}}

    <div class="share">
        {{- if .Site.Params.shareTwitter }}
            <a class="icon-twitter" href="https://twitter.com/share?text={{ .Title }}&url={{ .Permalink }}"
                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" aria-label="Share on Twitter">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        {{- end }}

        {{- if .Site.Params.sharefacebook }}
            <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"
                onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" aria-label="Share on Facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
        {{- end }}

        {{- if .Site.Params.shareLinkedIn }}
            <a class="icon-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&title={{ .Title }}&url={{ .Permalink }}&summary={{ .Description }}"
               onclick="window.open(this.href, 'linkedin-share', 'width=554,height=481');return false;" aria-label="Share on LinkedIn">
               <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
        {{- end }}
    </div>
</footer>