<footer class="post-footer clearfix">
    {{- with .Params.tags }}
        <p class="post-tags">
            <span>Tagged:</span>
            {{- range $index, $tag := . -}}
                {{- if $index -}}, {{ end }}
                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
            {{- end }}
        </p>
    {{ end -}}

    {{- if .Site.Params.shareLinkedIn }}
    <div class="share">
        <a class="icon-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&title={{ .Title }}&url={{ .Permalink }}&summary={{ .Description }}"
           onclick="window.open(this.href, 'linkedin-share', 'width=554,height=481');return false;" aria-label="Share on LinkedIn">
           <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
    </div>
    {{- end }}
</footer>