name: Build and Deploy Blog

on:
  push:
    branches:
      - '*'
      - '!gh-pages'

jobs:
  build-deploy:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v2
      with:
        hugo-version: '0.140.2'
        extended: true

    - name: Build Site
      run: hugo --minify --logLevel info -d docs/

    # Only deploy from default branch
    - name: Deploy GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
#      if: github.ref == 'refs/heads/main'
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs
        cname: lust.dev
